body{
    background-color: tan;
    margin: 0;
    font-family:fantasy;
}

.images > img {
    object-fit: cover;
    height: 400px;
    width: auto;
    position: relative;
    left: 10%;
    right: 10%;
    padding: 10px;
    grid-column: auto;
    grid-row: 1 / -1;      /* from first line at start, to first line at end */
    align-self: center;    /* vertical centering */
}

.portfolio-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.container {
    border-right: 10px;
    background: whitesmoke;
    font-family: fantasy;
    text-align: center;
    width: 300px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid #ffd100;
    padding: 10px;
}

h1 {
    border: 2px #eee solid;
    color: #2f2f2f;
    text-align: center;
    padding: 10px;
}

.navbar{
    background-color: #780609;
    padding: 15px;
}

.navbar a{
    justify-content: space-around;
    text-decoration: none;
    padding-bottom: 1px;
    color: #b9b8b8;
    text-transform: uppercase;
    text-align: left;
    transition: font-size 1s;
    border-bottom: 1px solid #2f2f2f;
    font-size: 15px;
}

.navbar a:hover {
    border-bottom: 1px solid black;
    color: #eee;
    font-size: 1.1em;
}

/*Index.html */
pre{
    border: 2px #eee solid;
    text-align:center;
    border-right: 10px;
    font-family: fantasy
}

/*Login/register.html*/
