<!-- templates/index.html -->

{% extends "base.html" %}

{% block head %}
<title>Home Page</title>
{% endblock %}

{% block body %}
<h1 class='borderColor'>Welcome to Cooking a Recipe!</h1>
<pre class='borderColor'>
Have you ever wanted to have a digital copy of all your family recipes? 
Have you searched and found that most websites charge you to have your family recipes stored online?
Sign up and store your family recipes here!
COMPLETELY FREE RECIPE STORAGE WEBSITE!
</pre>

<div class="images portfolio-items">
    <img src="{{url_for('static', filename='food0.jpg')}}" alt="foodImage0" "middle" /> 
    <img src="{{url_for('static', filename='food1.jpg')}}" alt="foodImage1" "middle" />
    <img src="{{url_for('static', filename='food3.jpg')}}" alt="foodImage3" "middle" />
</div>

{% endblock %}
