{% extends 'base.html' %}

{% block head %}
<title>Login</title>
{% endblock %}

{% block body %}
<div class="login_register_container">
    <h2 class="title">Login</h2>
    
    <div class="login_Register_Box_container">
        <div class="error">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="error_notification">
                    {{ messages[0] }}
                </div>
            {% endif %}
            {% endwith %}
        </div>

        <form action="/login" method="POST">
            <div class="field">
                <input class="input large" type="email" type="email" name='login_username' id='login_username' placeholder="Email Address" autofocus>
            </div>

            <div class="field">
            <input class="input large" type="text" name='login_password' id='login_password' placeholder="*********">
            </div>
            
            <div class="field">
                <label class="checkbox">
                    Remember Me <input type="checkbox">
                </label> 
            </div>
            <button class="button large">Login</button>
        </form>
    </div>
</div>

{% endblock %}

