{% extends "base.html" %}

{% block head %}
<title>View Recipes</title>
{% endblock %}

{% block body %}
    <h1 class="borderColor">Recipes</h1>
    <div class="content-wrapper">
        {% for recipe in recipes %}
        <a href="/loggedin/viewrecipes/{{ recipe.id }}">{{ recipe }}</a>
        <a href="{{ url_for('profile.viewRecipes') }}/{{ recipe.id }}/delete">Delete:{{ recipe }}</a>
        <a href="{{ url_for('profile.viewRecipes') }}/edit/{{ recipe.id }}">Edit</a>
        {% endfor %}
    </div>
{% endblock %}
