{% extends 'base.html' %}

{% block head %}
<title>{{ recipe.Recipe_Title }}</title>
{% endblock %}

{% block body %}
<div class="content-wrapper borderColor">
    <div class="recipe-img">
        {% if filename %}
	        <div class="recipe-img">
		        <img id="recipe-img" src="{{ url_for('profile.display_image', filename=filename) }}">
	        </div>
        {% endif %}
    </div>

    <div class="recipe-details">
        <div class="recipe-details">
            <h3 class="recipe-details">Title: {{ recipe.Recipe_Title }}</h3>
    
            <div onclick = "getPdf()">       
                <img id="download-button" src="{{ url_for('static', filename='download.png') }}" alt="Download" height="25" width="25">
            </div>

        </div>

        <div class="recipe-details">
            <p id="details" class="recipe-details">
            Author: {{ recipe.Recipe_Author }} <br>
            Recipe #{{ recipe.id }} <br>
            Date Posted: {{ recipe.Recipe_Date_Posted }} <br>
            Status: {{ recipe.Recipe_Public_Status }} <br>
            Type: {{ recipe.Recipe_Type }} <br>
            Ingredients: {{ recipe.Recipe_Ingredients }} <br>
            Prep Time: {{ recipe.Recipe_Expected_Prep_Time }} <br>
            Cook Time: {{ recipe.Recipe_Expected_Cook_Time  }} <br>
            Instructions: {{ recipe.Recipe_Instructions }} <br>
            </p>
        </div>
    </div>
</div>
    <script>
        function getPdf() {
            window.print()
        }
    </script>
{% endblock%}
